.container
{
	max-width: 800px;
	margin: 0 auto;
	color: blue;
	font-family: sans-serif;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	font-size: 25px;
}

body
{
	background-color: lightgrey;
}
